.upload-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
    background-image: url('../1.jpg');
  }
  
  .upload-container {
    text-align: center;
    padding: 20px 40px;
    background-color: #393838;
    border: 2px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .upload-container h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .upload-container form {
    margin-bottom: 20px;
  }
  
  .upload-container input[type="file"] {
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid #ddd;
    background-color: #fff;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
    transition: border-color 0.3s;
  }
  
  .upload-container input[type="file"]:focus {
    border-color: #3f986a;
    outline: none;
  }
  
  .upload-container button {
    padding: 12px 24px;
    border-radius: 30px;
    background-color: #3f986a;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
    width: 80%;
    max-width: 400px;
  }
  
  .upload-container button:hover {
    background-color: #3f986a;
    border: 1px solid white;
    transform: scale(1.05);
  }
  
  .upload-container button:active {
    transform: scale(1);
  }
  
  #loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3f986a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #result {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  #result h2 {
    font-size: 1.6rem;
    color: #333;
  }
  
  #result span {
    font-weight: bold;
    color: #3f986a;
  }
  
  @media (max-width: 768px) {
    .upload-container {
      padding: 20px;
      width: 90%;
    }
  
    .upload-container h1 {
      font-size: 2rem;
    }
  
    .upload-container input[type="file"],
    .upload-container button {
      width: 100%;
    }
  }
  